html,
button,
input,
select,
textarea {
  color: #222;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
p,
div,
article,
section {
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
  font-family: 'Open Sans', sans-serif;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ----------------------------------------
General
-------------------------------------------*/
.title {
  font-weight: 300;
  font-size: 50px;
  color: #00aeef;
  margin-bottom: 0;
}
.subtitle {
  margin-top: 0;
}
header {
  margin-top: 60px;
  margin-bottom: 30px;
}
input:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0;
}
input:focus {
  border: 3px solid #00aeef;
}
.social-actions {
  margin-top: 20px;
}
.gplus-container {
  vertical-align: middle;
  display: inline-block;
}
.submit-library {
  display: inline-block;
}
/* ----------------------------------------
Filters section
-------------------------------------------*/
.filters {
  text-align: center;
}
.btn-filter {
  border-radius: 0;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #e5e5e5;
}
.btn-filter:hover {
  background-color: #cccccc;
}
.btn-filter:active {
  background-color: #b2b2b2;
}
.btn-filter.active {
  background-color: #00aeef;
  color: white;
}
/* ----------------------------------------
Search section
-------------------------------------------*/
.search-container {
  margin-bottom: 30px;
}
.search-input {
  width: 100%;
  border: 3px solid #e5e5e5;
  margin-top: 20px;
  font-size: 20px;
  padding: 1px 10px;
}
/* ----------------------------------------
Items section
-------------------------------------------*/
.items-container {
  background-color: #e5e5e5;
  padding: 20px 0;
}
.item {
  margin: 10px 10px;
  background-color: white;
  width: 710px;
  padding: 20px;
  display: inline-block;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .item {
    width: 450px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .item {
    width: 550px;
  }
}
.gap {
  width: 20px;
}
.item-title {
  color: black;
}
.item-title:hover {
  color: #00aeef;
  text-decoration: none;
}
.item h3 {
  margin-top: 0;
}
.item .meta {
  color: #b2b2b2;
  font-weight: 700;
}
.item .description {
  margin-bottom: 15px;
  margin-top: 10px;
}
.btn-primary {
  border: none;
  border-radius: 0;
  background-color: #6fc5e6;
  margin-bottom: 4px;
  margin-right: 10px;
}
.btn-primary:hover {
  border: none;
  border-radius: 0;
  background-color: #0ca9e3;
}
/* ----------------------------------------
Footer
-------------------------------------------*/
footer {
  padding: 40px 0;
}
